.field {
  display: grid;
  margin: 5px;
}

.field input {
  font-size: 18pt;
  margin-top: 5px;
}

.column {
  display: flex;
}

#error {
  display: none;
  color: red;
}

.converter {
  display: grid;
  align-items: center;
  justify-content: center;
}

.table {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.border {
  border: 1px solid gray;
}
